<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ todo_detail.name }}</h1>
            <p><a href="{% url 'edit_list' todo_detail.id %}">Edit</a></p>
            <p><a href="{% url 'delete_list' todo_detail.id %}">Delete</a></p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <th>Task</th>
                    <th>Due date</th>
                </thead>
                {% for items in todo_detail.task.all %}
                    <tr>
                        <td><a href="{% url 'edit_item' items.id %}">{{ items.task }}</a></td>
                        <td>{{ items.due_date }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </main>
</body>
</html>