<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Todo Lists</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <p><a href="{% url 'create_list' %}">Create a new list</a></p>
            <p><a href="{% url 'create_item' %}">Create a new item</a></p>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Number of Items</th>
                </thead>
                {% for list in todo_list %}
                    <tr>
                        <td> <a href="{% url 'todo_list_detail' list.id %}">{{ list.name }}</a> </td>
                        <td>{{ list.task.count }}</td>
                {% endfor %}
                    </tr>
                
            </table>
        </div>
    </main>
    
</body>
</html>